h1 {
    color: #554348;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2pt;
    text-align: center;
    font-size: 75px;
}

.background{
  background-color: #93B7BE;
  width: 100%;
  height: 900px;
}

.header{
  background-color: #747578;
}

.background-direction{
  display: flex;
  flex-direction: column;
}

#name{
  font: "Montserrat", sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #D4F5F5;
}

p{
  color: #554348;
}

.flower{
  width: 30px;
}

img {
    max-width: 300px;
    width: 50%;
}

.pictures{
  display: flex;
  justify-content: space-around;
}

.clearfix {
  overflow: auto;
}

#header {
  text-align: center;
  border-bottom: 1px solid #999;
  width: 70%;
  margin: 0 auto 20px;
  font-family: "Noto Serif", serif;
}

  body {
    font-family: "Times New Roman", "Roboto", serif;
    font-size: 16px;
    text-align: center;
  }

  h2 {
    margin-left: auto;
    border-style:solid;
    background-color:#324ea8
    border-color:#324ea8
    color: white;
  }

#social ul {
  list-style-type: none;
  padding: 0;
}

#social ul li {
  display: inline-block;
}

.highlight {
  color: white;
  background-color: #324ea8
}

.tabs{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 20px;
}

#Home{
  border: solid;
  border-color: #747578;
  background-color: #747578;
  color: #D4F5F5;
}

#Work{
  border: solid;
  border-color: #747578;
  background-color: #747578;
  color: #D4F5F5;
}

#Resume{
  border: solid;
  border-color: #747578;
  background-color: #747578;
  color: #D4F5F5;
}

/*color palette here*/

#color1{
  color: #93B7BE;
  background-color: #93B7BE;
  width: 50%;
  height: 150px;
}

#color2{
  color: #554348;
  width: 50%;
}

#color3{
  color: #D4F5F5;
}

#color4{
  color:#8C9A9E;
}

#color5{
  color: #747578;
}


/*font-family: 'Montserrat', ;
font-family: 'Noto Serif', ; */
