h1 {
    color: #33485e;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2pt;
}

img {
    max-width: 300px;
    width: 50%;
}

.clearfix {
  overflow: auto;
}

#header {
  text-align: center;
  border-bottom: 1px solid #999;
  width: 70%;
  margin: 0 auto 20px;
  font-family: "Noto Serif", serif;
}

  body {
    font-family:
  }

  h2 {
    margin-left: auto;
    border-style:solid;
    background-color:#324ea8
    border-color:#324ea8
    color: white;
  }

#social ul {
  list-style-type: none;
  padding: 0;
}

#social ul li {
  display: inline-block;
}

.highlight {
  color: white;
  background-color: #324ea8
}

/*color palette here*/

#color1{
  color: #93B7BE;
  background-color: #93B7BE;
}

#color2{
  color: #554348;
}

#color3{
  color: #D4F5F5;
}

#color4{
  color:#8C9A9E;
}

#color5{
  color: #747578;
}


/*font-family: 'Montserrat', ;
font-family: 'Noto Serif', ; */
